.banner-header {
  position: relative;
  @extend %centerBackgroundImage;

  & .banner-header-image {
    @extend %absoluteStart;
    @include getDimension();
    @extend %centerBackgroundImage;
  }

  & .banner-header-content {
    position: relative;
    min-height: 340px;
    padding: 36px 0 12px;
    z-index: $defaultZIndex;

    @include getTransition(fast);
    @include displayFlexWithProperty($fd: column, $jc: center);

    @include xs {
      min-height: 280px;
    }

    & .carousel-header {
      img {
        width: 60%;
        margin: auto;
        @include getTransition(fast);

        @include md{
          width: 78%;
        }
      }

      .base-carousel-item-title {
        font-size: 50px;
        margin-bottom: 32px;
        line-height: 54px;
        color: $primaryColor;
        @include getFontFamily(cursive);

        @include xs{
          font-size: 36px;
          text-align: center;
        }
      }

      .base-carousel-item-description {
        width: 96%;
        font-size: 16px;
        line-height: 24px;
        color: darken($greyColor, $amount: 15);

        @include xs{
          text-align: center;
        }
      }

      .base-carousel-item-btn {
        @include outlineStyle($primaryColor, $primaryColor);
        padding: 13px 17px;
        border-radius: 4px;
        font-size: 14px;
        line-height: 12px;
        margin-top: 32px;
        @include displayFlexWithProperty($ai: center, $jc: center);
        @include getTransition(fast, ease);

        i{
          font-size: 16px;
        }

        @include xs{
          width: 240px;
          @include getSpacing(mx, auto);
        }
      }
    }

    & .image {
      width: 46%;
      padding-top: 16px;
      @include getTransition(fast);

      @include sm {
        width: 100%;
      }

      & img {
        max-width: 90%;
        min-height: 290px;
        @include getTransition(fast);
      }
    }

    & .content {
      width: 54%;
      padding-top: 16px;
      padding-left: 12px;
      @include getTransition(fast);

      @include sm {
        width: 100%;

        & .base-carousel-item-btn {
          @include getSpacing(mx, auto);
        }
      }

      & > div {
        text-align: left;

        @include sm {
          text-align: center;
          margin: auto;
        }
      }
    }

    & .banner-header-title {
      max-width: 90%;
      text-align: center;
      text-transform: uppercase;
      @include getSpacing(mx, auto);
      color: $lightColor;
      @extend %h2;
    }

    & .banner-header-nav {
      text-align: center;
      text-transform: uppercase;

      & > div,
      & > span {
        position: relative;
        color: $primaryColor;
        @extend %h4;

        & a {
          color: $blurColor;

          &:hover {
            animation: binkLink 0.9s infinite linear reverse;
          }
        }

        & a:hover,
        & span {
          color: $primaryColor;
        }
      }
    }
  }
}
