@mixin th-cart-table {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  @include getFontFamily(serif);
}
.alert-empty-cart {
  border-top: 3px solid $primaryColor;
  background-color: #f7f7f7;
  color: #7a7a7a;
  @include getFontFamily(sans-serif);

  .alert-icon {
    color: $primaryColor;
  }

  button {
    padding: 6px 11px;
    font-size: 12px;
    text-transform: uppercase;
  }
}

%th-cart-table {
  @include th-cart-table;
}

.cart-table {
  position: relative;
  width: 100%;

  .price{
    color: $primaryColor;
  }

  thead th {
    @extend %th-cart-table;
    padding: 8px;

    &:nth-child(1) {
      padding: 8px 0;
    }
  }
  tbody tr {
    &:hover {
      background-color: rgba($color: #eeeeee, $alpha: 0.5);
    }

    td {
      @extend %clearfix;
      padding: 12px;
      font-size: 14px;
      @include getFontFamily(sans-serif);

      &:nth-child(1) {
        @extend %text-truncate;
        max-width: 180px;
        padding: 12px 0 12px 12px;
      }

      img {
        width: 80px;
      }

      .remove-mobile {
        display: none;
        width: 240px;
        border-radius: 2px;
        float: right;
      }

      .remove {
        line-height: 42px;
        text-align: center;
        color: $lightColor !important;
        background-color: #c2c2c2;

        cursor: pointer;
        @include getDimension(30px, 30px, true);
        @include getLinkCSS;

        i {
          font-weight: bold;
          font-size: 25px;
        }
        &:hover {
          background-color: $primaryColor;
        }

        &:active {
          transform: scale(0.82);
        }
      }
    }
  }

  @include sm {
    display: block;

    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
      @include getTransition(fast);
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      padding-right: 12px;
      padding-left: 12px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }

    td {
      position: relative;
      padding-left: 35% !important;
      text-align: right;
      border: none;

      &:before {
        content: attr(data-title);
        width: 35%;
        text-align: left;
        @include mapPositionWithCoordinate(absolute, 50%, 6px, false, true);
        @include th-cart-table;
      }

      &:nth-child(1) {
        max-width: 100% !important;
        padding: 12px !important;
      }

      .awesome-input {
        float: right;
        width: 180px;
      }

      .remove-mobile {
        display: block !important;
      }

      .remove {
        display: none;
      }
    }
  }
}

.cart-snackbar {
  max-width: 360px;
  min-width: 320px;

  .header {
    @include getSpacing(py, 1);
    background-color: $primaryColor;
    color: $lightColor;

    .title {
      @extend %text-truncate;
      font-weight: bold;
      @include getFontFamily(sans-serif);
    }

    .icons {
      margin-left: auto;

      button {
        width: 38px;
        height: 38px;
        padding: 0;
        color: $lightColor;
        font-size: 18px;
        line-height: 38px;

        &.expanded.hide {
          transform: rotate(180deg);
        }
      }
    }
  }

  .cart-content-row {
    @extend %cart-content-row;
  }
}
