.ld.reverse {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.ld.xhalf {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.ld.x1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.ld.x2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.ld.x4 {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

.ld.running {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

.ld.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.ld.f00 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.ld.f01 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

.ld.f02 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.ld.f03 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.ld.f04 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.ld.f05 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.ld.f06 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.ld.f07 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.ld.f08 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.ld.f09 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.ld.f10 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.ld-ball,
.ld-cross,
.ld-hourglass,
.ld-loader,
.ld-pie,
.ld-ring,
.ld-spinner,
.ld-square {
  width: 1em;
  height: 1em;
  position: relative;
  color: inherit;
  display: inline-block;
}

.ld-ball:after,
.ld-ring:after,
body,
html {
  width: 100%;
  height: 100%;
}

.ld-ball:after,
.ld-hourglass:after,
.ld-ring:after {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
  display: inline-block;
  background: center center no-repeat;
  background-size: cover;
}

.ld-loader:after {
  width: 100%;
  height: 100%;
}

.ld-cross:after,
.ld-loader:after,
.ld-pie:after,
.ld-spinner:after,
.ld-square:after {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: " ";
  display: inline-block;
  background: center center no-repeat;
  background-size: cover;
}

.ld-ball:after {
  border-radius: 50%;
  background: currentColor;
}

.ld-pie:after {
  width: 0;
  height: 0;
  border-width: 0.5em;
  -webkit-background-clip: padding-box;
  border-color: currentColor currentColor currentColor transparent;
}

.ld-hourglass:after,
.ld-pie:after,
.ld-ring:after {
  border-radius: 50%;
  border-style: solid;
}

.ld-ring:after {
  -webkit-background-clip: padding-box;
  box-sizing: border-box;
  border-width: 0.15em;
  border-color: currentColor currentColor currentColor transparent;
}

.ld-hourglass:after {
  width: 0;
  height: 0;
  background: 0 0;
  border-width: 0.5em;
  border-color: currentColor transparent;
}

.ld-cross:after {
  width: 18%;
  height: 18%;
  background: currentColor;
  box-shadow: 0 0.18em 0 1px currentColor, 0 -0.18em 0 1px currentColor,
    0.18em 0 0 1px currentColor, -0.18em 0 0 1px currentColor,
    0 0.36em 0 1px currentColor, 0 -0.36em 0 1px currentColor,
    0.36em 0 0 1px currentColor, -0.36em 0 0 1px currentColor;
}

.ld-square:after {
  width: 90%;
  height: 90%;
  background: currentColor;
}

.ld-spinner:after {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background: 0 0;
  box-shadow: 0 0.5em 0 0 currentColor, 0 -0.5em 0 0 currentColor,
    0.5em 0 0 0 currentColor, -0.5em 0 0 0 currentColor,
    0.35355339059327373em 0.35355339059327373em 0 0 currentColor,
    -0.35355339059327373em 0.35355339059327373em 0 0 currentColor,
    0.35355339059327373em -0.35355339059327373em 0 0 currentColor,
    -0.35355339059327373em -0.35355339059327373em 0 0 currentColor;
}

.ld-loader {
  background-size: cover;
}

@keyframes ld-blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  to {
    opacity: 0;
  }
}

@-webkit-keyframes ld-blink {
  0%,
  49% {
    opacity: 1;
  }
  50%,
  to {
    opacity: 0;
  }
}

@keyframes ld-heartbeat {
  0%,
  60% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  5% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  39% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  45% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes ld-heartbeat {
  0%,
  60% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  5% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }
  39% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  45% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.ld.ld-heartbeat {
  -webkit-animation: ld-heartbeat 0.8s infinite
    cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: ld-heartbeat 0.8s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}


@keyframes binkLink {
  0% {
    color: #fff;
    opacity: 0;
  }
  33% {
    color: inherit;
    opacity: 1;
  }
  66% {
    color: #fff;
    opacity: 0;
  }
  100% {
    color: inherit;
    opacity: 1;
  }
}


@keyframes scale {
  0% {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1
  }

  45% {
          -webkit-transform: scale(.1);
          transform: scale(.1);
          opacity: .7
  }

  80% {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1
  }
}

@-webkit-keyframes scale {
  0% {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1
  }

  45% {
          -webkit-transform: scale(.1);
          transform: scale(.1);
          opacity: .7
  }

  80% {
          -webkit-transform: scale(1);
          transform: scale(1);
          opacity: 1
  }
}

.ball-pulse>div:nth-child(0) {
  -webkit-animation: scale .75s cubic-bezier(.2,.68,.18,1.08) -.36s infinite;
  animation: scale .75s cubic-bezier(.2,.68,.18,1.08) -.36s infinite
}

.ball-pulse>div:first-child {
  -webkit-animation: scale .75s cubic-bezier(.2,.68,.18,1.08) -.24s infinite;
  animation: scale .75s cubic-bezier(.2,.68,.18,1.08) -.24s infinite
}

.ball-pulse>div:nth-child(2) {
  -webkit-animation: scale .75s cubic-bezier(.2,.68,.18,1.08) -.12s infinite;
  animation: scale .75s cubic-bezier(.2,.68,.18,1.08) -.12s infinite
}

.ball-pulse>div:nth-child(3) {
  -webkit-animation: scale .75s cubic-bezier(.2,.68,.18,1.08) 0s infinite;
  animation: scale .75s cubic-bezier(.2,.68,.18,1.08) 0s infinite
}

.ball-pulse>div {
  background-color: #545cd8;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block
}
@-webkit-keyframes ball-pulse-sync {
  33% {
          -webkit-transform: translateY(10px);
          transform: translateY(10px)
  }

  66% {
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px)
  }

  to {
          -webkit-transform: translateY(0);
          transform: translateY(0)
  }
}

@keyframes ball-pulse-sync {
  33% {
          -webkit-transform: translateY(10px);
          transform: translateY(10px)
  }

  66% {
          -webkit-transform: translateY(-10px);
          transform: translateY(-10px)
  }

  to {
          -webkit-transform: translateY(0);
          transform: translateY(0)
  }
}

.ball-pulse-sync>div:nth-child(0) {
  -webkit-animation: ball-pulse-sync .6s ease-in-out -.21s infinite;
  animation: ball-pulse-sync .6s ease-in-out -.21s infinite
}

.ball-pulse-sync>div:first-child {
  -webkit-animation: ball-pulse-sync .6s ease-in-out -.14s infinite;
  animation: ball-pulse-sync .6s ease-in-out -.14s infinite
}

.ball-pulse-sync>div:nth-child(2) {
  -webkit-animation: ball-pulse-sync .6s ease-in-out -.07s infinite;
  animation: ball-pulse-sync .6s ease-in-out -.07s infinite
}

.ball-pulse-sync>div:nth-child(3) {
  -webkit-animation: ball-pulse-sync .6s ease-in-out 0s infinite;
  animation: ball-pulse-sync .6s ease-in-out 0s infinite
}

.ball-pulse-sync>div {
  background-color: #545cd8;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block
}

@-webkit-keyframes spin-rotate {
  0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg)
  }

  50% {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg)
  }

  to {
          -webkit-transform: rotate(1turn);
          transform: rotate(1turn)
  }
}

@keyframes spin-rotate {
  0% {
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg)
  }

  50% {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg)
  }

  to {
          -webkit-transform: rotate(1turn);
          transform: rotate(1turn)
  }
}

.semi-circle-spin {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden
}

.semi-circle-spin>div {
  position: absolute;
  border-width: 0;
  border-radius: 100%;
  -webkit-animation: spin-rotate .6s linear 0s infinite;
  animation: spin-rotate .6s linear 0s infinite;
  background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(70%,transparent),color-stop(30%,#545cd8),to(#545cd8));
  background-image: -webkit-linear-gradient(transparent,transparent 70%,#545cd8 0,#545cd8);
  background-image: linear-gradient(transparent,transparent 70%,#545cd8 0,#545cd8);
  width: 100%;
  height: 100%
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.fastest {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}
.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 20%, 0);
    transform: translate3d(0, 20%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}


@-webkit-keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInY {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.flipInY {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
}