html,
.main-content {
  position: relative;
  width: calc(100vw);
  overflow-x: hidden;
}
.relative {
  position: relative;
}

.awesome-font {
  font-family: "Pacifico", cursive;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 202;
}
.sub-nav {
  background-color: #0d0d0d;
  color: #aaaaaa;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  max-height: 40px;
  overflow: hidden;
  transition: 0.3s;
}
.sub-nav.hidden {
  padding: 0;
  max-height: 0;
}
.base-navbar {
  width: 100%;
  background-color: #fff;
}
.base-navbar::before,
.base-navbar::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
}
.base-navbar::before {
  height: 0;
  border-top: 1px dashed #0d0d0d;
}
.base-navbar::after {
  height: 17px;
  background: url("/img/bg-header.png");
  top: calc(100%);
}

.base-navbar-content {
  padding-top: 14px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}
.base-navbar .header-logo a {
  font-size: 32px;
  text-decoration: none;
  color: #5e3c3e;
  transition: 0.3s ease;
}
@media only screen and (max-width: 600px) {
  .base-navbar .header-logo a {
    font-size: 24px;
  }
}
.base-navbar .header-logo a span {
  color: #e47277;
  font-family: "Pacifico", cursive;
  margin-left: 2px;
}
.base-navbar .header-menu {
  display: flex;
  justify-content: flex-end;
  width: 0;
  flex-grow: 1;
  overflow: hidden;
}
.base-navbar .header-menu .main-menu {
  width: 100%;
  height: 45px;
  padding-right: 32px;
  transform: translateY(0);
  transition: 0.3s ease;
}

@media only screen and (max-width: 600px) {
  .base-navbar .header-menu .main-menu {
    transform: translateY(-43px);
  }
}
.base-navbar .header-menu .main-menu-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.base-navbar .header-menu .main-menu a {
  text-decoration: none;
  padding: 0 32px;
  padding-right: 0;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #5e3c3e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.base-navbar .header-menu .main-menu a:hover,
.base-navbar .header-menu .main-menu a.active {
  color: #e47277;
}
.base-navbar .header-menu .control-menu {
  border-left: 1px solid rgb(146, 136, 136);
  padding-left: 32px;
  padding-right: 14px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.banner-header {
  position: relative;
  background-size: cover;
  background-position: center;
}
.banner-header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.banner-header-content {
  position: relative;
  min-height: 360px;
  z-index: 5;
  padding: 32px 0 24px;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 600) {
  .banner-header-content {
    min-height: 280px;
  }
}

.banner-header .image {
  width: 46%;
  padding-top: 16px;
}
.banner-header .image img {
  min-height: 290px;
  max-width: 90%;
}
.banner-header .content {
  width: 54%;
  padding-top: 16px;
  padding-left: 12px;
}
.banner-header .content > div {
  text-align: left;
}
@media only screen and (max-width: 960px) {
  .banner-header .image,
  .banner-header .content {
    width: 100%;
  }
  .banner-header .content > div {
    text-align: center;
    margin: auto;
  }
  .banner-header .base-carousel-item-btn {
    margin-left: auto;
    margin-right: auto;
  }
}
.banner-header .banner-header-content .banner-header-title {
  color: #fff;
  font-size: 40px;
  text-align: center;
}
.banner-header .banner-header-content .banner-header-nav {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}
.banner-header .banner-header-content .banner-header-nav > div {
  position: relative;
  margin: 6px 10px;
  color: #e75e4e;
}
.banner-header
  .banner-header-content
  .banner-header-nav
  > div:not(:last-child)::after {
  content: "/";
  position: absolute;
  top: 2px;
  font-size: 18px;
  left: calc(100% + 8px);
  color: #b3b3b3;
}
.banner-header .banner-header-content .banner-header-nav span,
.banner-header .banner-header-content .banner-header-nav a {
  color: #b3b3b3;
  font-size: 21px;
  text-decoration: none;
  transition: 0.3s ease;
}
.banner-header .banner-header-content .banner-header-nav a:hover,
.banner-header .banner-header-content .banner-header-nav span {
  color: #e75e4e;
}

.banner-header-nav a:hover {
  animation: binkLink 0.9s infinite linear reverse;
}

.base-carousel-wrapper {
  margin-bottom: 24px;
  overflow: hidden;
  position: relative;
  transition: 0.4s;
  z-index: 10;
}
.base-carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #f0ecec;
  color: #e47277;
  background: #ffffff;
  font-size: 19px;
  transition: 0.15s linear;
  cursor: pointer;
  z-index: 100;
}
.base-carousel-control:hover {
  color: #fff;
  background-color: #e47277;
  border-color: #e47277;
}
.base-carousel-control:active {
  transform: translateY(-50%) scale(0.8);
}
.base-carousel-control.control-prev {
  left: -94px;
}
.base-carousel-wrapper:hover .base-carousel-control.control-prev {
  left: 24px;
}
.base-carousel-control.control-next {
  right: -94px;
}
.base-carousel-wrapper:hover .base-carousel-control.control-next {
  right: 24px;
}

.product-carousel.base-carousel-wrapper:hover
  .base-carousel-control.control-prev {
  left: 0;
}
.product-carousel.base-carousel-wrapper:hover
  .base-carousel-control.control-next {
  right: 0;
}

.base-carousel {
  position: relative;
  display: flex;
  transition-timing-function: ease;
}
.base-carousel-item {
  display: inline-block;
  flex-shrink: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #7a7a7a;
}
.base-carousel-item img {
  width: 420px;
  margin: auto;
  display: block;
}
.base-carousel-item .base-carousel-item-title {
  margin-bottom: 35px;
  line-height: 54px;
  font-size: 50px;
  color: #e47277;
}
.base-carousel-item .base-carousel-item-btn {
  color: rgb(228, 114, 119);
  font-family: "Roboto Slab";
  border: 1px solid rgb(228, 114, 119);
  border-radius: 4px;
  font-size: 14px;
  line-height: 12px;
  font-weight: 700;
  cursor: pointer;
  padding: 13px 17px;
  box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  margin-top: 32px;
  transition: 0.4s ease;
}
.base-carousel-item .base-carousel-item-btn:hover {
  color: #fff;
  background-color: rgb(228, 114, 119);
}
.base-carousel-item .base-carousel-item-btn i {
  font-size: 16px;
  margin-right: 4px;
}
.base-carousel-pagination {
  position: absolute;
  bottom: 0;
  justify-content: center;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
}
.base-carousel-feedback .base-carousel-pagination {
  bottom: 52px;
}
.base-carousel-pagination .base-carousel-pagination-item {
  width: 16px;
  height: 16px;
  border: 1px solid transparent;
  background: #dddddd;
  margin: 0 5px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.4s;
}
.base-carousel-pagination .base-carousel-pagination-item.active {
  width: 60px;
  background-color: #f6675c;
  border: 2px solid #f6675c;
}
.base-carousel-pagination-image-wrapper {
  width: 100%;
  overflow: hidden;
}
.base-carousel-pagination-image {
  display: flex;
  flex-wrap: nowrap;
  transition: 0.6s ease;
  cursor: pointer;
}
.base-carousel-pagination-image-item {
  width: 100px;
  height: 100px;
  opacity: 0.3;
  flex: 0 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease;
  margin: 6px;
}
.base-carousel-pagination-image-item.active {
  opacity: 1;
}
.body-content {
  min-height: 320px;
  margin-top: -136px;
  background-color: #ffffff;
  position: relative;
  border-radius: 5px 5px 0 0;
}
.body-intro {
  position: relative;
  background-image: url(/img/icon-box-shadow.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 15px 15px 45px;
}
.body-intro .body-intro-content {
  border: 1px dashed #eeeeee;
  min-height: 180px;
}

.body-intro .body-intro-content .image {
  position: relative;
  width: 120px;
  height: 120px;
}
.body-intro .body-intro-content .image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.body-intro .body-intro-content .image:hover img {
  transform: translate(-50%, -50%) scale(1.2);
}
.body-intro .body-intro-content .title {
  font-size: 28px;
  font-family: "Pacifico";
  color: #5e3c3e;
  margin: 10px 12px 8px 10px;
}
.body-intro .body-intro-content .short-des {
  margin-left: 10px;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5em;
  color: #7a7a7a;
}
.body-intro .body-intro-content {
  border: 1px dashed #eeeeee;
  min-height: 180px;
}

.section-wrapper {
  text-align: center;
  padding: 24px 0px 52px;
}
.feedback-section {
  position: relative;
}
.feedback-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("/img/bg-feedback.jpg") center;
  background-attachment: fixed;
  filter: blur(1px);
}
@media only screen and (max-width: 600px) {
  .feedback-section::before {
    filter: blur(0);
  }
}

.section-wrapper .title-des {
  font-family: "Pacifico", cursive;
  font-size: 24px;
  color: #ee7560;
}
.section-wrapper .title {
  font-size: 32px;
  text-transform: uppercase;
  padding: 0 20px;
  width: fit-content;
  margin: auto;
  margin-bottom: 24px;
  text-transform: uppercase;
  position: relative;
  font-family: serif;
  color: #5e3c3e;
}
.section-wrapper .title-divider {
  width: fit-content;
  margin: 14px auto 20px;
  color: #5e3c3e;
  font-size: 15px;
  position: relative;
}
.section-wrapper .title::before,
.section-wrapper .title::after {
  content: "";
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100px;
  height: 20px;
  background-color: #e9e9e9;
  z-index: 10;
}
.section-wrapper .title::after {
  left: calc(100%);
}
.section-wrapper .title::before {
  right: calc(100%);
}

@media only screen and (max-width: 600px) {
  .section-wrapper .title::before,
  .section-wrapper .title::after {
    display: none;
  }
}
.ps__rail-y {
  width: 6px !important;
}
.ps__thumb-y {
  right: 0;
  border-radius: 0;
  transition: 0.1s;
  width: 6px !important;
}

.card-feedback {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-feedback .card-feedback-thumbnail {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #fff;
  overflow: hidden;
  position: relative;
}
.card-feedback .card-feedback-rating {
  font-size: 0.8rem;
  margin-top: 14px;
  opacity: 1 !important;
}
.card-feedback .card-feedback-title {
  width: 360px;
  max-width: 76%;
  text-align: center;
  margin-top: 12px;
  font-size: 16px;
}
.card-feedback .card-feedback-content {
  width: 680px;
  max-width: 86%;
  margin-top: 32px;
  text-align: center;
  font-size: 24px;
  line-height: 1.9em;
  color: #3c3c3c;
}
.card-feedback .card-feedback-thumbnail img {
  width: 100%;
  height: 100%;
}
.card-product {
  position: relative;
  padding: 16px;
}
.card-product.list {
  display: flex;
  width: 100%;
}
.card-product.list.small-size {
  padding: 12px 0 16px;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .card-product.list {
    flex-direction: column;
    align-items: center;
  }
}

.card-product-image {
  position: relative;
  width: 100%;
  max-width: 286px;
  height: 280px;
  margin: auto;
  border-radius: 5px 5px 0 0;
  transition: 0.3s ease;
}
.card-product-image img {
  display: block;
  margin: auto;
  width: auto;
  max-width: 100%;
  height: 100%;
}

.card-product.list .card-product-image {
  background-size: contain;
  width: 196px;
  height: 182px;
}
.card-product.list.small-size .card-product-image {
  width: 92px;
  height: 86px;
}
.card-product-image .card-product-discount {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 56px;
  height: 56px;
  background: url(/img/bg-discount.png);
  background-position: center;
  background-size: cover;
}
.card-product.list.small-size .card-product-image .card-product-discount {
  width: 34px;
  height: 34px;
  top: 2px;
  left: 2px;
}
.card-product-image .card-product-discount span {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-15deg);
  font-family: "Roboto Slab", cursive;
  font-weight: 100;
  color: #fff;
  font-size: 20px;
}
.card-product.list.small-size .card-product-image .card-product-discount span {
  font-size: 13px;
  left: 53%;
}
.card-product-action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
  opacity: 0;
  display: flex;
  transition: 0.4s ease;
}

.card-product.list .card-product-action {
  position: relative;
  opacity: 1;
  top: 0;
  left: 0;
  transform: translate(0, 0);
}

.card-product:hover .card-product-action {
  opacity: 1;
}

.card-product-action .button-icon {
  width: 46px;
  height: 46px;
  background-color: #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: black;
  background-image: -webkit-linear-gradient(-360deg, black, black);
  background-image: linear-gradient(90deg, black, black);
  transition: all 0.3s ease;
  border: 0;
  font-size: 18px;
  margin: 0 6px;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}
.card-product.list.small-size .card-product-action .button-icon {
  width: 34px;
  height: 34px;
  font-size: 16px;
}

.card-product .card-product-action .button-icon:nth-child(1) {
  transition-delay: 0.05s;
  transform: translateY(100%);
}
.card-product .card-product-action .button-icon:nth-child(2) {
  transition-delay: 0.1s;
  transform: translateY(75%);
}
.card-product .card-product-action .button-icon:nth-child(3) {
  transition-delay: 0.15s;
  transform: translateY(50%);
}
.card-product.list .card-product-action .button-icon {
  transform: translate(0, 0);
  opacity: 1;
}

.card-product.list .card-product-action .btn-add-to-cart-small {
  display: none;
}
@media only screen and (max-width: 600px) {
  .card-product.list:not(.small-size) .btn-add-to-cart-large {
    display: none;
  }
  .card-product.list .card-product-action .btn-add-to-cart-small {
    display: block;
  }
}

.card-product:hover .card-product-action .button-icon {
  transform: translateY(0px);
  opacity: 1;
}
.card-product-action .button-icon:hover {
  background-color: #ee7560;
  background-image: -webkit-linear-gradient(-360deg, #ee7560, #ff5858);
  background-image: linear-gradient(90deg, #ee7560, #ff5858);
}
.card-product-action .button-icon:active {
  transform: scale(0.8) !important;
  transition: 0.12s;
  transition-delay: 0s !important;
}
.card-product-action .button-icon i {
  transform: rotate(0);
  transition: 0.8s ease;
}
.card-product-action .button-icon:not(:nth-child(2)) i {
  font-weight: 900;
  display: block;
}
.card-product-action .button-icon:hover i {
  transform: rotate(360deg);
}
.card-product-image::after {
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  opacity: 0;
  left: 0;
  transition: all 0.3s ease 0s;
  border-radius: 5px;
}
.card-product.list .card-product-image::after {
  display: none;
}
.card-product:hover .card-product-image::after {
  top: 0;
  opacity: 1;
}

.card-product .card-product-rate {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
  padding-top: 6px;
  padding-bottom: 2px;
  width: 50%;
  background-color: #ffffff;
  text-align: center;
  border-radius: 5px 5px 0 0;
  transition: 0.3s;
}
.card-product.list .card-product-rate {
  position: relative;
  left: 0;
  transform: translateX(0);
  text-align: left;
  margin-bottom: 0px;
  margin-top: 4px;
}

.card-product.list .card-product-rate .MuiRating-sizeSmall {
  font-size: 0.85rem;
}

.card-product .card-product-content {
  width: 100%;
  border-top: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 0 0 5px 5px;
}
.card-product.list .card-product-content {
  width: 0;
  flex-grow: 1;
  padding: 0 0 0 24px;
  justify-content: left;
}

.card-product.list.small-size .card-product-content {
  padding-left: 16px;
}
@media only screen and (max-width: 600px) {
  .card-product.list .card-product-content {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  .card-product.list.small-size .card-product-image,
  .card-product.list .card-product-image {
    width: 86%;
    height: 247px;
    margin-bottom: 12px;
  }
  .card-product.list.small-size .card-product-image .card-product-discount {
    width: 42px;
    height: 42px;
    top: 8px;
    left: 8px;
  }
  .card-product.list .card-product-content .card-product-rate {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .card-product.list .card-product-image {
    height: 240px;
  }
}
.card-product .card-product-title {
  color: #5e3c3e;
  margin-top: 10px;
  text-align: center;
}
.card-product.list .card-product-title {
  font-size: 18px;
  color: #303030;
  margin-bottom: 0px;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .card-product.list .card-product-title {
    font-size: 17px;
    text-align: center;
  }
}
.card-product.list.small-size .card-product-title {
  font-size: 14px;
  margin-top: 0;
}

.card-product .card-product-price {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 8px;
}
.card-product.list .card-product-price {
  justify-content: start;
  margin-top: 0px;
  line-height: 24px;
}
.card-product.list.small-size .card-product-price * {
  margin-top: 4px;
  font-size: 18px !important;
}
.card-product .card-product-price .origin {
  font-size: 22px;
  text-decoration: line-through;
  margin-right: 8px;
  color: #999;
  transition: 0.3s;
}
.card-product.list .card-product-price .origin {
  font-size: 22px;
}
.card-product .card-product-price .real {
  font-size: 22px;
  color: #000;
}

.card-product .card-product-short-des {
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: 8px;
}

.lazy-image {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
}

.lazy-image.opacity {
  opacity: 1;
}

.MuiRating-label {
  left: 0;
}

.MuiRating-iconFilled i {
  font-weight: 900;
}
.skeletonFeedback {
  position: relative;
}
.skeletonFeedback .skeletonFeedbackContent {
  position: absolute;
  top: 24px;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skeletonFeedback .skeletonFeedbackItem {
  width: 640px;
  max-width: 72%;
  background-color: #11111114;
}

.wrapper-sub-section-title {
  position: relative;
  width: fit-content;
  font-size: 34px;
  margin-bottom: 24px;
  color: #5e3c3e;
}
@media only screen and (max-width: 600px) {
  .wrapper-sub-section-title {
    font-size: 26px;
  }
}
.wrapper-sub-section-title::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 14px);
  width: 100px;
  height: 26px;
  background-color: #e9e9e9;
  z-index: 10;
}
@media only screen and (max-width: 600px) {
  .wrapper-sub-section-title::before {
    width: 80px;
    height: 22px;
  }
}

.blog-card {
  position: relative;
  height: 100%;
}

.blog-card .blog-card-image {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
  top: 0;
  left: 0;
  z-index: 0;
}

.blog-card-image img {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog-card .blog-card-content {
  position: relative;
  height: 100%;
  border-radius: 6px;
  padding: 20px 30px 32px;
  z-index: 100;
  color: #fff;
  background-color: rgba(41, 32, 60, 0.75);
  text-align: left;
}
.blog-card .blog-card-infor {
  font-size: 14px;
  margin-bottom: 20px;
}
.blog-card .blog-card-infor .blog-upload {
  color: #ff5858;
}

.blog-card .blog-card-title {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  transition: 0.4s ease;
  margin-bottom: 8px;
}
@media only screen and (min-width: 960px) {
  .blog-card.large .blog-card-title {
    margin-top: 112px;
    margin-bottom: 12px;
    font-size: 38px;
    line-height: 42px;
  }
  .blog-card.large .blog-card-des {
    font-size: 18px;
    margin-bottom: 42px;
  }
}

.blog-card:hover .blog-card-title {
  color: #ff5858;
}
.blog-card .blog-card-des {
  margin-bottom: 32px;
  font-size: 15px;
}

.btn-card-wrapper {
  border-radius: 50px !important;
}
.btn-card {
  width: 100%;
  font-size: 12px;
  line-height: 25px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  padding: 6px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: #ee7560;
  background-image: -webkit-linear-gradient(-360deg, #ee7560, #ff5858);
  background-image: linear-gradient(90deg, #ee7560, #ff5858);
}
.btn-card i {
  margin-left: 8px;
  transition: all 0.4s ease;
}
.btn-card:hover {
  -webkit-box-shadow: 0 6px 15px 0 rgba(36, 36, 38, 0.15);
  -moz-box-shadow: 0 6px 15px 0 rgba(36, 36, 38, 0.15);
  -ms-box-shadow: 0 6px 15px 0 rgba(36, 36, 38, 0.15);
  box-shadow: 0 6px 15px 0 rgba(36, 36, 38, 0.15);
}
.btn-card:hover i {
  margin-left: 12px;
}
.client-feedback-form {
  padding: 50px;
  background-color: rgba(41, 32, 60, 0.75);
  color: #fff;
  text-align: center;
}
.client-feedback-form .client-form-title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 24px;
}

.client-form-control {
  margin-bottom: 35px;
}
.client-form-control > label {
  position: relative;
  display: block;
  width: fit-content;
  font-size: 14px;
  margin-bottom: 6px;
  text-transform: uppercase;
}
.client-form-control label.required::before {
  content: "*";
  position: absolute;
  right: -12px;
  color: #ee7560;
}
.client-form-control .textarea,
.client-form-control input {
  position: relative;
  width: 100%;
  padding: 0;
  height: 30px;
  border: none;
  color: #fff;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  outline: none !important;
}
.client-form-control .textarea {
  height: fit-content;
  min-height: 120px;
  overflow-x: hidden;
}
.client-form-control .client-form-control-wrapper {
  position: relative;
}
.client-form-control .client-form-control-line {
  position: absolute;
  width: 0;
  height: 1.5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ee7560;
  transition: 0.3s ease;
}
.client-form-control .textarea:focus ~ .client-form-control-line,
.client-form-control input:focus ~ .client-form-control-line {
  width: 100%;
}

.client-feedback-form .btn-card-wrapper {
  min-width: 60%;
  margin: auto;
  margin-top: 32px;
}
.client-feedback-form .btn-card {
  width: 100%;
}

.footer {
  background-color: #282c2f;
  color: #bbb;
  padding-top: 56px;
  padding-bottom: 36px;
}

.footer .MuiGrid-item {
  padding-right: 32px;
}
.footer h3 {
  color: #fff;
}

.footer .footer-note {
  color: #e47277;
}
.footer .footer-address {
  margin-top: 32px;
  font-size: 16px;
}

.footer-navigation {
  list-style: none;
  padding-left: 4px;
}

.footer-navigation a {
  color: #bbb;
  font-size: 16px;
  text-decoration: none;
}
.footer-navigation li {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: row-reverse;
}
.footer-navigation li span {
  width: 0;
  height: 1px;
  margin-right: 3px;
  background-color: #e47277;
  transition: 0.3s ease;
}
.footer-navigation a.active ~ span,
.footer-navigation li:hover span {
  width: 24px;
}
.footer-navigation li:hover a,
.footer-navigation a.active {
  color: #e47277;
}
.footer-contact {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-bottom: 48px;
}
.footer-contact li {
  font-size: 18px;
  margin-right: 16px;
  cursor: pointer;
}
.footer-contact li:hover {
  color: #e47277;
}

.footer .footer-copyright {
  font-size: 16px;
}
.widget-wrapper {
  color: #777;
  background-color: #f5f3f0;
  padding-bottom: 42px;
}
.widget {
  padding: 32px 32px 0 20%;
}

@media only screen and (max-width: 600px) {
  .widget {
    padding: 36px 32px 0 10%;
  }
}

.widget .title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

@media only screen and (max-width: 600px) {
  .widget .title {
    font-size: 20px;
  }
}
.widget .content {
  padding-left: 12px;
}
.widget .content .search {
  position: relative;
}
.widget .content .search .search-icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  font-size: 17px;
  color: #7b7b7b;
  font-weight: 600;
}
.widget .content .search input {
  width: 100%;
  height: 40px;
  padding: 0 40px 0 20px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  font-size: 15px;
  color: #a79797;
  outline: none;
  transition: 0.3s ease;
}
.widget .content .search input::placeholder {
  color: #c4c4c4;
}
.widget .content .search input:focus {
  border-color: #ee7560;
}
.widget .content .search input:focus ~ .search-icon {
  color: #ee7560;
}
.widget .filter-wrapper {
  text-align: right;
}
.widget .filter-wrapper label {
  color: #8a7476;
}
@media only screen and (max-width: 600px) {
  .store-page-top-sell {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;
  }
}
.loading-filter-product {
  position: sticky;
  top: 0px;
  left: calc(100vw - 64px);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #fff;
  margin-top: 24px;
  z-index: 100;
  transition: .3s;
}
.product-page-pagination {
  margin: 20px 0px 48px;
}

.product-page-pagination .MuiPaginationItem-page.Mui-selected {
  background-color: #fb5e59;
  color: #fff;
}
.product-page-pagination .MuiPaginationItem-page:hover {
  background-color: #fb5e599e;
}
.product-page-pagination .MuiButtonBase-root.Mui-disabled {
  color: #aaa;
}
.product-page-pagination .MuiPaginationItem-page {
  color: #111;
}
.filter-status-bar{
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border: 1px solid #ddd;
  color: #888;
}
.filter-status-bar .display-style{
  cursor: pointer;
  margin-right: 12px;
}
.filter-status-bar .display-style .active{
  color: #E47479;
}

.no-results-filter {
  flex-direction: column;
  justify-content: center;
  margin: auto;
  text-align: center;
  font-size: 20px;
  color: #88a4b2;
  transition: 0.3s;
  overflow: hidden;
  padding: 0;
  max-height: 0;
  display: none;
}
.no-results-filter.show {
  display: flex;
  padding-top: 42px;
  padding-bottom: 32px;
  max-height: 1000px;
}
.product-detail-gallery {
  margin: auto;
  min-height: 480px;
  background-position: center;
  background-size: auto 100%;
  transition: 0.3s ease;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .product-detail-gallery {
    min-height: 300px;
  }
}
.product-details-content > div {
  margin-bottom: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.product-details-content .title {
  font-size: 34px;
  text-transform: uppercase;
}
.product-details-content .rate .MuiRating-root {
  font-size: 1rem;
}

.product-details-content .price {
  font-size: 26px;
  color: #777;
  margin-bottom: 18px;
}
.product-details-content .origin {
  text-decoration: line-through;
  margin-right: 8px;
}

.product-details-content .real {
  font-size: 32px;
  color: #222;
}

.product-details-content .des {
  font-size: 16px;
  line-height: 1rem;
  color: #4e3939;
  margin-bottom: 16px;
}

.product-details-content .amount {
  margin-bottom: 0;
  width: 210px;
}
.product-details-content .amount ~ .card-product-action{
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  opacity: 1;
}

.product-details-content .button-icon{
  opacity: 1;
}

.product-details-content .status {
  font-size: 18px;
  text-transform: uppercase;
  user-select: none;
}
.product-details-content .status span {
  margin-left: 6px;
  text-transform: capitalize;
}
.product-details-content .category a{
  color: #000;
  display: inline-block;
  text-decoration: none;
}
.product-details-content .category a:hover {
  color: #fd5d5a;
  transition: 0.3s;
  cursor: pointer;
}
.product-details-content .category a:active{
  transform: scale(.8);
  transition: .1s;
}
.product-details-content .add button {
  width: 280px;
  margin-top: 32px;
}
.product-details-content .add .btn-card {
  line-height: 38px;
}

.tabWrapper {
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 25px;
  border-top: 1px solid #d9d9d9;
}

.tabWrapper li {
  font-size: 18px;
  line-height: 2.3em;
  letter-spacing: 1.1px;
  color: #626262;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;
}
.tabWrapper li.active {
  color: #ee7560;
  border-color: #ee7560;
}
.review-form .rate {
  margin-bottom: 4px;
}
.review-form .rate ~ .MuiRating-root {
  margin-bottom: 24px;
  font-size: 14px;
}
.review-form .btn-card-wrapper {
  margin-top: 12px;
}

.awesome-input {
  display: flex;
  user-select: none;
}
.awesome-input .btn {
  position: relative;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  border-radius: 40px 0 0 40px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s ease;
}
.awesome-input .btn:hover {
  background-color: #ee7560;
}
.awesome-input .btn.btn-ascend {
  border-radius: 0 40px 40px 0;
}
.awesome-input input {
  width: 0;
  flex-grow: 1;
  padding: 0 20px;
  background-color: #f1f1f1;
  font-size: 14px;
  border: none;
  outline: none;
  color: #555;
  text-align: center;
}
