body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 7px;
  transition: 0.02s;
}
::-webkit-scrollbar:hover {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background-color: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  cursor: pointer;
  transition: 0.02s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: #aaa;
}
