body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-size {
  width: 100%;
  height: 100%;
}
.base-chip{
  align-items: center;
  cursor: default;
  display: inline-flex;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-decoration: none;
  transition: .28s;
  vertical-align: middle;
  white-space: nowrap;
  color: #fff;
}

.base-chip.small-size {
  border-radius: 12px;
  font-size: 12px;
  height: 24px;
}

.button-icon {
  height: 32px;
  width: 32px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  font-size: 0.625rem;
  color: #fff;
}
.button-icon.round {
  border-radius: 100% !important;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.transition-zoom-enter-active,
.transition-zoom-exit-active {
  transition: 0.3s;
}

.transition-zoom-exit-active,
.transition-zoom-enter {
  transform: scale(0.5);
}
.transition-zoom-exit,
.transition-zoom-enter-active {
  transform: scale(1);
}
.transition-zoom-exit {
  border: 3px solid red !important;
}
.transition-zoom-exit-active {
  transform: scale(0.5);
}

@-webkit-keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.7;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.7;
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.ball-grid-pulse {
  width: 57px;
}

.ball-grid-pulse > div:first-child {
  -webkit-animation-delay: -0.15s;
  animation-delay: -0.15s;
  -webkit-animation-duration: 1.53s;
  animation-duration: 1.53s;
}

.ball-grid-pulse > div:nth-child(2) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  -webkit-animation-duration: 0.74s;
  animation-duration: 0.74s;
}

.ball-grid-pulse > div:nth-child(3) {
  -webkit-animation-delay: 0.56s;
  animation-delay: 0.56s;
  -webkit-animation-duration: 1.05s;
  animation-duration: 1.05s;
}

.ball-grid-pulse > div:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-duration: 1.04s;
  animation-duration: 1.04s;
}

.ball-grid-pulse > div:nth-child(5) {
  -webkit-animation-delay: 0.09s;
  animation-delay: 0.09s;
  -webkit-animation-duration: 0.86s;
  animation-duration: 0.86s;
}

.ball-grid-pulse > div:nth-child(6) {
  -webkit-animation-delay: 0.01s;
  animation-delay: 0.01s;
  -webkit-animation-duration: 1.01s;
  animation-duration: 1.01s;
}

.ball-grid-pulse > div:nth-child(7) {
  -webkit-animation-delay: 0.11s;
  animation-delay: 0.11s;
  -webkit-animation-duration: 1.35s;
  animation-duration: 1.35s;
}

.ball-grid-pulse > div:nth-child(8) {
  -webkit-animation-delay: 0.02s;
  animation-delay: 0.02s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
}

.ball-grid-pulse > div:nth-child(9) {
  -webkit-animation-delay: 0.08s;
  animation-delay: 0.08s;
  -webkit-animation-duration: 1.35s;
  animation-duration: 1.35s;
}

.ball-grid-pulse > div {
  background-color: #2f3bed;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  float: left;
  -webkit-animation-name: ball-grid-pulse;
  animation-name: ball-grid-pulse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

@-webkit-keyframes ball-grid-beat {
  50% {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

@keyframes ball-grid-beat {
  50% {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

.ball-grid-beat {
  width: 57px;
}
.ball-grid-beat > div {
  background-color: #545cd8;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  float: left;
  -webkit-animation-name: ball-grid-beat;
  animation-name: ball-grid-beat;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.ball-grid-beat > div:first-child {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 1.55s;
  animation-duration: 1.55s;
}

.ball-grid-beat > div:nth-child(2) {
  -webkit-animation-delay: 0.52s;
  animation-delay: 0.52s;
  -webkit-animation-duration: 0.64s;
  animation-duration: 0.64s;
}

.ball-grid-beat > div:nth-child(3) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
}

.ball-grid-beat > div:nth-child(4) {
  -webkit-animation-delay: 0.11s;
  animation-delay: 0.11s;
  -webkit-animation-duration: 0.88s;
  animation-duration: 0.88s;
}

.ball-grid-beat > div:nth-child(5) {
  -webkit-animation-delay: 0.53s;
  animation-delay: 0.53s;
  -webkit-animation-duration: 0.88s;
  animation-duration: 0.88s;
}

.ball-grid-beat > div:nth-child(6) {
  -webkit-animation-delay: 0.73s;
  animation-delay: 0.73s;
  -webkit-animation-duration: 0.87s;
  animation-duration: 0.87s;
}

.ball-grid-beat > div:nth-child(7) {
  -webkit-animation-delay: 0.54s;
  animation-delay: 0.54s;
  -webkit-animation-duration: 1.11s;
  animation-duration: 1.11s;
}

.ball-grid-beat > div:nth-child(8) {
  -webkit-animation-delay: 0.66s;
  animation-delay: 0.66s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.ball-grid-beat > div:nth-child(9) {
  -webkit-animation-delay: -0.06s;
  animation-delay: -0.06s;
  -webkit-animation-duration: 0.65s;
  animation-duration: 0.65s;
}

.simple-form label {
  display: block;
  margin-bottom: 6px;
}

.simple-form .simple-form-input {
  position: relative;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}
.simple-form .simple-form-input .helper-text {
  position: absolute;
  bottom: -22px;
  left: 0px;
  font-size: 13px;
  display: none;
  -webkit-animation: helper-text 0.2s ease-in 0s;
  animation: helper-text 0.2s ease-in 0s;
}
.simple-form .simple-form-input input.error ~ .helper-text {
  display: block;
  color: #dc3545;
}
@-webkit-keyframes helper-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes helper-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.simple-form input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fafafa;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 24px;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;
}

.simple-form-input.clear-margin input {
  margin-bottom: 0;
}

.simple-form-input .image-preview {
  margin-top: 10px;
  transition: 0.3s linear;
  overflow-y: hidden;
  height: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px,
    rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
}
@-webkit-keyframes image-preview {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 2000px;
  }
}

@keyframes image-preview {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 2000px;
  }
}

.simple-form input:hover,
.simple-form input:focus {
  background-color: #fff;
  box-shadow: transparent;
}

.simple-form input:focus {
  color: #495057;
  border-color: #bcbff0;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.simple-form input.error {
  border-style: dashed;
  border-color: #f98383;
  box-shadow: transparent;
  margin-bottom: 32px;
}
.simple-form input.error:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 2, 1, 0.25);
}

.simple-form .preview-upload-multi {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
}
.simple-form .preview-single {
  position: relative;
  width: 140px;
  max-width: 140px;
  height: 140px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
  border-width: 4px;
  padding: 4px;
  border-style: solid;
}
.simple-form .preview-single.input-wrapper {
  border: 2px dashed #3f6ad8;
}
.simple-form .preview-single.input-wrapper:hover {
  transition: 0.2s;
  border-style: dotted;
}
.simple-form .preview-single.input-wrapper::before {
  position: absolute;
  content: "+";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #3f6ad8;
  font-size: 52px;
}
.simple-form .preview-single.input-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.simple-form .preview-single .preview-single-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  transform: translate(-50%, -50%) scale(1);
  background-position: center;
  background-size: cover;
  border-radius: 6px;
  transition: 0.3s;
}
.simple-form .preview-single .preview-remove-image {
  position: absolute;
  left: 50%;
  width: 52px;
  top: 60%;
  height: 52px;
  line-height: 52px;
  text-align: center;
  z-index: 5;
  font-size: 28px;
  color: #dbd4d4;
  margin-top: -26px;
  margin-left: -26px;
  border: 1px solid transparent;
  border-radius: 100%;
  overflow: hidden;
  transition: 0.2s;
  opacity: 0;
  cursor: pointer;
}
.simple-form .preview-single:hover .preview-remove-image {
  top: 50%;
  opacity: 1;
}
.simple-form .preview-single .preview-remove-image:hover {
  color: #7a7676;
}
.simple-form .preview-single .preview-remove-image:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #686868ba;
  z-index: -1;
  opacity: 0.735;
}
.simple-form .preview-single .preview-remove-image:hover:before {
  background-color: #d5c6c6ba;
}
.simple-form .preview-single:hover .preview-single-image {
  transform: translate(-50%, -50%) scale(1.03);
  filter: blur(5px);
}
.ck-editor__editable_inline {
  min-height: 200px;
}

.btn-effect {
  position: relative;
}
.btn-effect .effect-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.btn-effect .effect-wrapper.sweep-to-bottom {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
.btn-effect:hover .effect-wrapper.sweep-to-bottom {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.btn-effect .effect-wrapper.underline-from-left {
  top: calc(100% - 3px);
  width: 0px;
  height: 3px;
}
.btn-effect:hover .effect-wrapper.underline-from-left {
  width: 100%;
}

.table-loading {
  position: relative;
}
.table-loading-progress {
  position: absolute !important;
  width: 100%;
  height: 3px !important;
  top: -1px;
  left: 0;
}

.text-blur {
  color: rgba(0, 0, 0, 0.5);
}

.table-pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding-top: 8px;
}

.table-pagination-content {
  font-size: 14px;
  margin: 0 32px 0 24px;
}

.table-pagination-control {
  margin-top: -6px;
}
.table-pagination-control button {
  width: 32px;
  height: 32px;
  margin: 0 4px;
  color: rgba(0, 0, 0, 0.54);
}
.table-pagination-control button:disabled {
  color: rgba(0, 0, 0, 0.26) !important;
}
.table-pagination-control i {
  font-size: 14px;
}

.ps__rail-y {
  width: 12px;
}
.ps__rail-y:hover > .ps__thumb-y {
  width: 8px !important;
}
