.alert-empty-cart {
  border-top: 3px solid $primaryColor;
  background-color: #f7f7f7;
  color: #7a7a7a;
  @include getFontFamily(sans-serif);

  .alert-icon {
    color: $primaryColor;
  }

  button {
    padding: 6px 11px;
    font-size: 12px;
    text-transform: uppercase;
  }
}



%btn-block {
  display: none;
  width: 240px;
  border-radius: 2px;
  float: right;
}

.cart-table {
  position: relative;
  width: 100%;

  .price {
    color: $primaryColor;
  }

  thead th {
    @extend %th-table;
    padding: 8px;

    &:nth-child(1) {
      padding: 8px 0;
    }
  }
  tbody tr {
    &:hover:not(:last-child) {
      background-color: rgba($color: #eeeeee, $alpha: 0.45);
    }

    &.cart-summary {
      padding: 0 0 0;

      td {
        border: none !important;
      }

      td:last-child {
        text-align: left !important;
        padding: 0;

        .cart-summary-wrapper {
          margin: 42px 0 0 0;
          padding: 16px !important;
          background-color: rgba($color: #eeeeee, $alpha: 0.45);

          .cart-summary-title {
            margin-bottom: 20px;
            @include th-table;
          }

          .cart-summary-content {
            color: #6b6b6b;

            .row {
              @include displayFlexWithProperty($jc: space-between);
              margin-bottom: 16px;
            }
          }

          .cart-summary-checkout {
            @extend %btn-block;
            display: block;
            width: 100%;
            margin: 42px 0 24px;
            float: none;
          }
        }
      }
    }

    td {
      @extend %clearfix;
      padding: 12px;
      font-size: 14px;
      @include getFontFamily(sans-serif);

      &:nth-child(1) {
        @extend %text-truncate;
        max-width: 180px;
        padding: 12px 0 12px 12px;
      }

      img {
        width: 80px;
      }

      .remove-mobile {
        @extend %btn-block;
      }

      .remove {
        line-height: 42px;
        text-align: center;
        color: $lightColor !important;
        background-color: #c2c2c2;

        cursor: pointer;
        @include getDimension(30px, 30px, true);
        @include getLinkCSS;

        i {
          font-weight: bold;
          font-size: 25px;
        }
        &:hover {
          background-color: $primaryColor;
        }

        &:active {
          transform: scale(0.82);
        }
      }
    }
  }

  @include sm {
    display: block;

    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
      @include getTransition(fast);
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      padding-right: 12px;
      padding-left: 12px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);

      &.cart-summary {
        td:last-child {
          margin-top: 32px !important;
          padding-left: 0 !important;
        }
      }
    }

    td {
      width: 100% !important;
      position: relative;
      padding-left: 35% !important;
      text-align: right;
      border: none;

      &:before {
        content: attr(data-title);
        width: 35%;
        text-align: left;
        @include mapPositionWithCoordinate(absolute, 50%, 6px, false, true);
        @include th-table;
      }

      &:nth-child(1) {
        max-width: 100% !important;
        padding: 12px !important;
      }

      .total {
        float: right;
      }

      .awesome-input {
        float: right;
        width: 180px;
      }

      .remove-mobile {
        display: block !important;
      }

      .remove {
        display: none;
      }
    }
  }
}

.cart-snackbar {
  max-width: 360px;
  min-width: 320px;

  .header {
    @include getSpacing(py, 1);
    background-color: $primaryColor;
    color: $lightColor;

    .title {
      @extend %text-truncate;
      font-weight: bold;
      @include getFontFamily(sans-serif);
    }

    .icons {
      margin-left: auto;

      button {
        width: 38px;
        height: 38px;
        padding: 0;
        color: $lightColor;
        font-size: 18px;
        line-height: 38px;
        @extend %fastTransition;

        &.expanded.hide {
          transform: rotate(180deg);
        }
      }
    }
  }

  .cart-content-row {
    @extend %cart-content-row;
  }
}
